body {
    margin: 0;
    font-family: 'Josefin Slab', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 166px;

}

.header {
    background-image: url("bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: 500ms linear;

}

.nav-item:hover {
    color: rgb(179, 26, 26);
}

.cart {
    position: relative;
    border-right: 1px solid #FFFFFF;
    height: 51px;
    padding-right: 10px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 8px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s linear;
}

.num:hover {
    color: #ff0000;
}

.phone-text {
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

}

.phone-holder {
    display: flex;
    align-items: center;
}



.buttom {
    color: #fff;
    text-decoration: none;
    background-color: #FF7400;
    text-transform: uppercase;
    padding: 14px 18px;
    font-weight: 700;

}

.buttom:hover {
    background-color: #6b3d04;
}

.header-title {
    position: absolute;
    /*очень важно для цетрирования изучи это дитя*/
    left: 0;
    /*это для того что бы по левому краю было*/
    color: #FF7400;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    margin-top: 204px;
    margin-bottom: 12px;
}

.header-down {
    position: relative;
}

.header-suptitle {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
}

.header-suptitle::after {
    position: absolute;
    /*делаем полоску*/
    content: "";
    height: 2px;
    width: 65px;
    background-color: #fff;
    top: 128px;
    left: 54px;
}

.header-suptitle::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 65px;
    background-color: #fff;
    top: 128px;
    left: 305px;
}

.header-buttom {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    padding: 14px 27px;
    transition: 0.5s;
}

.header-buttom:hover {
    background-color: #ff0000;
}

.cards-holder {
    display: flex;
    /*здесь создали этот класс в нем карточки и теперь только они в ряд стоят и процент их  процент заменили на 349gbr*/
    justify-content: center;
}

.cards {
    margin-top: -107px;
}

.card {
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    width: 349px;
    height: 328px;
    margin-right: 31px;
    background-color: #fff;
    padding: 0px 10px;
}

.card-image {
    display: flex;
    justify-content: center;
    padding: 35px 20px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}

.card-title span {
    color: #984e11;
}

.card-disc {
    justify-content: center;
    text-align: center;

    font-family: 'Tinos';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #656363;
}

.history {
    margin-top: 166px;
}


.history-title {
    width: 444px;
    text-align: center;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    margin-bottom: 21px;
}

.history-title span {
    color: #984e11
}

.history-desk {
    width: 444px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #656363;
    font-size: 16px;
    text-align: center;
}

.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
}

.number-item {
    margin-right: 60px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 40px;
    color: #BC9060;
}

.number-item span {
    display: block;
    /* сделали что бы надписи были под цифрами */
    font-family: 'Open Sans';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;

}

.history-holder {
    display: flex;
    /* justify-content: space-between; */
}

.history-img {
    position: relative;
    /* это родитель теперь */
}

.images-1 {
    position: absolute;
    z-index: 0;
    top: 54px;
    left: 580px;
}


.images-2 {
    position: absolute;
    z-index: 999;
    top: -3px;
    left: 380px;
}


.images-3 {
    position: absolute;
    z-index: 999;
    top: 60px;
    left: 145px;

}

/* ниже- моя верстка */

.black-block {
    position: relative;
    margin-top: 182px;
    margin-bottom: 132px;
    background-image: linear-gradient(to right, rgba(22, 22, 22, 0.9), rgba(0, 0, 0, 0.9)), url("blackblock.png");
    /* наложение фона подсмотрела в сети */
    background-repeat: no-repeat;
    background-size: cover;
    height: 357px;
}


.black-block-btm {
    position: absolute;
    top: 187px;
    left: 1269px;
}

.black-block-top {
    padding: 80px 0px 0px 165px;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
}

.black-block-down {
    margin-top: 20px;
    margin-left: 165px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.dishes-title {
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    color: #000000;
    text-align: center;
    margin-bottom: 149px;
}

.dishes-title span {
    color: #bb7a35;
}

.burgers {
    display: flex;
    justify-content: center;
}

.lov {
    display: flex;
}

.burger-item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.burger {
    margin-right: 10px;
}

.burgers-image {
    margin-right: 120px;
}

.burger-text {
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 26px;
    color: #000000;
}

.menu {
    background-image: url("bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    /* отодвинуть белую полосу */
}

.menu-title {
    padding-top: 98px;
    padding-bottom: 138px;
    text-align: center;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.menu-items {
    display: flex;
    justify-content: center;
}

.menu-item {
    /* height: 510px; вместо этого пэддинг ботом */
    margin-left: 30px;
    background-color: #fff;
    text-align: center;
    width: 350px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.menu-text {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    padding-top: 16px;
    padding-bottom: 17px;
}

.menu-subtext {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.menu-button {
    margin-top: 20px;
}

.menu-button .buttom {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.prise-img {
    position: absolute;
    top: 133px;
    left: 214px;
}

.menu-image {
    position: relative;
}

.prise-420 {
    position: absolute;
    top: 167px;
    left: 245px;
    font-family: 'Cookie';
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.review-blok {
    background-color: #E6E5E5;
    padding-top: 104px;
}

.review-text {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.review-photo {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 17px;
}

.re-text {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.re-subtext {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* вот я выровняла маленькие плпжки текта по центру с помощью флекса */
}

.slider {
    padding-top: 26px;
    padding-bottom: 108px;
}

.slider-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-box-item-noactiv {
    width: 5px;
    height: 5px;
    margin-left: 3px;
}

.slider-box-item {
    padding-left: 2px;
    width: 7px;
    height: 7px;
}

.gal-box-holder {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.galery-title {
    padding-top: 104px;
    padding-bottom: 60px;
    text-align: center;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
}

.galery-title span {
    color: #984e11;
}

.gal-box {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.gal-box2 {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 20px;
}

.g-box-inside {
    padding-bottom: 20px;
}

.img-rith {
    margin-left: 20px;
}

.g-box-inside-down {
    padding-bottom: 20px;
}
/* этим я вырвняла вторую колонку в смычли отсупов а не положения */


.cooks-imags {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.cooks-title{
    padding-top: 104px;
    padding-bottom: 60px;
    text-align: center;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
}
.cooks-title span{
    color: #984e11;
}
.cooks-img{
    padding-left: 20px;
}