body {
    margin: 0;
    font-family: 'Josefin Slab', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 166px;

}

.header {
    background-image: url("bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: 500ms linear;

}

.nav-item:hover {
    color: rgb(179, 26, 26);
}

.cart {
    position: relative;
    border-right: 1px solid #FFFFFF;
    height: 51px;
    padding-right: 10px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 8px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s linear;
}

.num:hover {
    color: #ff0000;
}

.phone-text {
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

}

.phone-holder {
    display: flex;
    align-items: center;
}



.buttom {
    color: #fff;
    text-decoration: none;
    background-color: #FF7400;
    text-transform: uppercase;
    padding: 14px 18px;
    font-weight: 700;

}

.buttom:hover {
    background-color: #6b3d04;
}

.header-title {
    position: absolute;
    /*очень важно для цетрирования изучи это дитя*/
    left: 0;
    /*это для того что бы по левому краю было*/
    color: #FF7400;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    margin-top: 204px;
    margin-bottom: 12px;
}

.header-down {
    position: relative;
}

.header-suptitle {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
}

.header-suptitle::after {
    position: absolute;
    /*делаем полоску*/
    content: "";
    height: 2px;
    width: 65px;
    background-color: #fff;
    top: 128px;
    left: 54px;
}

.header-suptitle::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 65px;
    background-color: #fff;
    top: 128px;
    left: 305px;
}

.header-buttom {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    padding: 14px 27px;
    transition: 0.5s;
}

.header-buttom:hover {
    background-color: #ff0000;
}

.cards-holder {
    display: flex;
    /*здесь создали этот класс в нем карточки и теперь только они в ряд стоят и процент их  процент заменили на 349gbr*/
    justify-content: center;
}

.cards {
    margin-top: -107px;
}

.card {
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    width: 349px;
    height: 328px;
    margin-right: 31px;
    background-color: #fff;
    padding: 0px 10px;
}

.card-image {
    display: flex;
    justify-content: center;
    padding: 35px 20px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}

.card-title span {
    color: #984e11;
}

.card-disc {
    justify-content: center;
    text-align: center;

    font-family: 'Tinos';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #656363;
}

.history {
    margin-top: 166px;
}


.history-title {
    width: 444px;
    text-align: center;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    margin-bottom: 21px;
}

.history-title span {
    color: #984e11
}

.history-desk {
    width: 444px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #656363;
    font-size: 16px;
    text-align: center;
}

.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
}

.number-item {
    margin-right: 60px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 40px;
    color: #BC9060;
}

.number-item span {
    display: block;
    /* сделали что бы надписи были под цифрами */
    font-family: 'Open Sans';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;

}